.drawer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 25vw;
  min-width: 300px;
  padding-right: 40px;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;

  .toggle-arrow {
    transform: scale(3.5);
    margin-left: 12px;
    color: #fa7272c1;
  }

  &.closed {
    transform: translateX(-100%);

    .arrow-always-visible-right-container {
      .toggle-arrow {
        &:hover {
          transform: scale(3.75) translateX(8%);
          color: #ff6347;
          /* Add more hover styles specific to the closed state here */
        }
      }
    }
  }

  &.opened {
    .arrow-always-visible-right-container {
      transform: translateX(-30px);
      transition: transform 0.3s ease-in-out;
      .toggle-arrow {
        transform: scale(3.5) scaleX(-1);

        &:hover {
          transform: scale(3.75) scaleX(-1) translateX(8%);
          color: #ff6347;
          /* Add more hover styles specific to the opened state here */
        }
      }
    }
  }

  .drawer-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto; /* Enable scrolling */
  }

  .controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .arrow-always-visible-right-container {
    height: 100vh;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -30px; /* Adjust this value to stick out more */

    .toggle-arrow {
      width: fit-content;
      height: fit-content;
      cursor: pointer;
      transition:
        transform 0.3s,
        color 0.3s; /* Ensure smooth transitions */
    }
  }
}
