.drawer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 25vw;
  min-width: 300px;
  padding-right: 40px;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;

  .toggle-arrow {
    transform: scale(3.5);
    margin-left: 12px;
    color: #fa7272c1;
  }

  &.closed {
    transform: translateX(-100%);

    .arrow-always-visible-right-container {
      &:hover {
        .info-hover {
          display: block;
          opacity: 1;
          animation: fadeIn 0.3s ease-in-out forwards;
        }

        /* Define the fadeIn animation */
        @keyframes fadeIn {
          0% {
            opacity: 0;
            transform: translateX(-10%);
          }
          100% {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }

      .toggle-arrow {
        &:hover {
          transform: scale(3.75) translateX(8%);
          color: #ff6347;
          /* Add more hover styles specific to the closed state here */
        }
      }
    }

    .background-circle {
      background-color: #fff;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      position: absolute;
      margin-top: -46px;
      right: 0;
      z-index: -1;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      transition:
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out 0.3s;
      opacity: 1;
      transform: translateX(0);
    }
  }

  .info-hover {
    color: #ffffffcc;
    background-image: radial-gradient(
      circle,
      #0000003e,
      #0000003e 1%,
      #0000003e 90%
    );
    width: 200px;
    font-size: 25px;
    margin-left: 300px;
    text-align: left;
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    font-family: "Courier New", Courier, monospace;
    opacity: 0;
    transform: translateX(-10%);
    transition:
      opacity 0.3s ease-in-out,
      transform 0.3s ease-in-out;
  }

  &.opened {
    .arrow-always-visible-right-container {
      transform: translateX(-30px);
      transition: transform 0.3s ease-in-out;

      .toggle-arrow {
        transform: scale(3.5) scaleX(-1);

        &:hover {
          transform: scale(3.75) scaleX(-1) translateX(8%);
          color: #ff6347;
          /* Add more hover styles specific to the opened state here */
        }
      }
    }

    .background-circle {
      transition:
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out;
      opacity: 0;
      transform: translateX(-50px);
    }
  }

  .drawer-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
  }

  .controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .arrow-always-visible-right-container {
    height: 100vh;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -30px;

    .toggle-arrow {
      width: fit-content;
      height: fit-content;
      cursor: pointer;
      transition:
        transform 0.3s,
        color 0.3s; /* Ensure smooth transitions */
    }
  }

  /* Define the fadeOut animation */
  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-10%);
    }
  }
}

.squeezeNMoveThat {
  transform: scale(0.5) translateX(5px);
}
