.arrow-always-visible-right-container {
  height: 100vh;
  width: 50px;
  display: flex;
  justify-content: flex-end; /* Align items to the end (right) */
  align-items: center;
  position: absolute; /* Absolute positioning */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for proper centering */
  z-index: 1 !important;

  .toggle-arrow {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    position: relative;
  }
}

.background-circle {
  // circle styling
  background-color: #ffffff85; /* Different color for distinction */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.31);
  border-radius: 50%;

  // size
  width: 140px; /* Size of the first circle */
  height: 140px; /* Size of the first circle */

  //initial position
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(15%);
  z-index: 20;

  &:hover {
  }
}

.first-icon {
  width: 45px;
  height: 45px;
  position: absolute;
  transform: translateY(-50%); /* Align vertically */
  transform: translateX(70%); /* Align vertically */
  color: #ff000091;
  z-index: 21; /* On top */
}

.second-icon {
  //initial position, size, color
  width: 25px;
  height: 25px;
  position: absolute;
  transform: translateY(-50%); /* Align vertically */
  transform: translateX(50px); /* Align vertically */
  color: #ff000071;
  z-index: 21; /* On top */
}

.second-background-circle {
  // circle styling
  background-color: #ffffff75; /* Different color for distinction */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.31);
  border-radius: 50%;

  // size
  width: 265px; /* Size of the first circle */
  height: 265px; /* Size of the first circle */

  //initial position
  position: absolute; /* Absolute positioning */
  transform: translateY(-50%); /* Align vertically */
  transform: translateX(20%); /* Align vertically */
  z-index: 19; /* On top */
}
