.spinning-graph {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Ensure the graph is in front */
  }

  .node {
    fill: #00CCC0;
  }
  
  .node circle {
    fill: #00CCC0;
    transition: fill 0.15s; /* Smooth transition for color change */
  }
  
  .node:hover circle {
    fill: #F2668B;
  }
  

 
  @keyframes move {
    0%, 100% { transform: translate(0, 0); }
    25% { transform: translate(5px, 5px); }
    50% { transform: translate(-5px, -5px); }
    75% { transform: translate(5px, -5px); }
  }
  
  .node-circle {
    z-index: 2; /* Ensure nodes are on top */
    cursor: pointer;
    pointer-events: none; /* Allow mouse events to pass through */


  }
  .edge {
    z-index: 1; /* Ensure edges are below nodes */
  }
  
  .node-text-foreign {
    overflow: visible;
    cursor: pointer;
  }
  
  .node-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .node-text {
    color: white;
    text-align: center;
    font-size: 1em;
    word-wrap: break-word;
    font-weight: 500;
  }
  